body {
    background-color: #D6BAE2;
    font-family: Arial, sans-serif;
}

h3 {
    font-size: 56px;
}

.card {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    border-radius: 16px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px;
    padding-bottom: 112px;
    border-radius: 16;
}

.cat-btn {
    background-color: blueviolet;
    color: white;
    flex: 1;
    border-radius: 16px;
    font-weight: bold;
    height: 80px;
    font-size: 40px;
    padding: 2%;
}

.row-buttons {
    display: flex;
    gap: 8px;
}

#cat-img {
    border-radius: 16px;
    aspect-ratio: 1 / 1;
}

@media (min-width: 1000px) {   
    h3 {
        font-size: 24px;
    }

    .cat-btn {
        height: 40px;
        border-radius: 8px;
        font-size: 16px;
        padding: 1%;
    }

    .card {
        width: 35%;
        padding: 16px;
        padding-bottom: 56px;
    }

    bottom {
        height: 32px;
    }
}

